<div class=" mt-5 pb-5">

    <div class="text-center">
        <h1>Categories</h1>
        <p class="mainp">Are you an expert? Which category describes you the best?</p>

        <div class="row content-padding mx-auto" style="width: 80%;">
            <ng-container *ngFor="let con of content">
                <div class="col-md-2  col-sm-6 py-2">
                    <div class="card text-center my-auto" style="height: 170px !important;">
                        <img class="mx-auto" [src]="con.src" alt="acting" width="100">
                        <p class="" [innerText]="con.head"></p>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>