<div class="back mt-5 pt-5 pb-5">
    <h1 class="text-center pt-3">Support</h1>

    <div class="text-center pt-5 mb-3">
        <button type="submit" class="btn btn-outline-dark" (click)="showNewSupport()">Raise New Ticket</button>
    </div>
        <div *ngIf="supportService.supports.length" class="row">
            <div class="col table table-responsive table-hover">
                <div *ngIf="supportData.length else loader">
                    <app-support-data-table [dataForTable]="supportData " [displayColoumns]="displayColoumnsSupport "
                        [pageSize]=" '5' "> </app-support-data-table>
                </div>

                <ng-template #loader>
                    <app-loader></app-loader>
                </ng-template>
            </div>
        </div>
        <!-- <ng-container *ngFor="let support of supportService.supports;let indexOfelement=index;">
            <div class="container">
                <div class="row pt-3">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <ng-container *ngIf="activityService.activities.length>0 && support.Show">
                            <ng-container *ngFor="let activity of activityService.activities">
                                <div class="row">
                                    <div class="col"></div>
                                    <div [ngClass]="{'border rounded col-8': true,'text-end sent':activity.Sendor==='user','text-start recieved':activity.Sendor==='admin'}">{{activity.Message}}</div>
                                    <div class="col"></div>
                                </div>
                            </ng-container>
                            <div class="input-group mt-3">
                                <input type="text" class="form-control" placeholder="Type Your Message Here" aria-describedby="button-addon2" [ngModelOptions]="{standalone: true}" [(ngModel)]="messageSent">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="sendMessage(support.TicketId)">Send Message</button>
                            </div>
                        </ng-container>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </ng-container> -->
    <app-login-page></app-login-page>
    <ng-container *ngIf="userReady">
        <app-support-popup [contactEmail]="authService.user.email"
            [name]="authService.user.displayName"></app-support-popup>
    </ng-container>
</div>