<div class="extra">
    .
</div>
<div class="mt-5 text-center">
    <div class="width">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Label</label>
              <input [(ngModel)]="label" type="text" class="form-control" id="label" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Value</label>
              <input [(ngModel)]="value" type="text" class="form-control" id="value">
            </div>
            <button type="submit" (click)="submit()" class="btn btn-primary">Submit</button>
          </form>         
    </div>
</div>
