<app-how></app-how>
<app-categories></app-categories>

<div class="tab" role="tabpanel">
    <ul class="nav nav-tabs" id="myTab" role="tablist" style="text-align: left !important;">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">General Info</a>
        </li>
        <li class="nav-item shadow" role="presentation">
            <a class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                aria-controls="contact" aria-selected="false">AWARDS CATEGORY</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab"
                aria-controls="profile" aria-selected="false">Eligibility</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="submission-tab" data-bs-toggle="tab" data-bs-target="#submission" type="button" role="tab"
                aria-controls="submission" aria-selected="false">Submission</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="prices-tab" data-bs-toggle="tab" data-bs-target="#prices" type="button" role="tab"
                aria-controls="prices" aria-selected="false">APPLICATION FEE</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="judging-tab" data-bs-toggle="tab" data-bs-target="#judging" type="button" role="tab"
                aria-controls="judging" aria-selected="false">Judging</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="faq-tab" data-bs-toggle="tab" data-bs-target="#faq" type="button" role="tab"
                aria-controls="faq" aria-selected="false">FAQ</a>
        </li>
    </ul>
    <div class="tab-content tabs text-left" id="myTabContent" style="text-align: left !important;">
        <div class="tab-pane fade show active text-left" id="home" role="tabpanel" aria-labelledby="home-tab">
            <!-- Home content -->
            <p><strong>General Info:</strong></p>
            <ol>
                <li>
                    <p>All participants must comply with the eligibility criteria and submission process.</p>
                </li>
                <li>
                    <p>The participant may submit their information in no more than one category per application. In
                        order to participate in more than one category, the participants are required to submit a
                        separate application for each category.</p>
                </li>
                <li>
                    <p>
                        A participant can apply for the GCP Awards until he/she attains the age of 15; even if the
                        participant has won an award in previous entries, he/she can still apply; there is no bar on the
                        same.
                    </p>
                </li>
                <li>
                    <p>
                        Only the names of registered or nominated participants of the Global Child Prodigy Award will be
                        considered for the final list or winner list of the GCP Awards.
                    </p>
                </li>
                <li>
                    <p>
                        The GCPA officials have the right to cancel and annul an award if the recipient commits acts of
                        criminal misbehavior or otherwise abuses the award.
                    </p>
                </li>
                <li>
                    <p>
                        Any false information or misrepresentation may lead to disqualification.
                    </p>
                </li>
                <li>
                    <p>
                        Participants must adhere to the Global Child Prodigy Awards terms and conditions and code of
                        conduct, which promote integrity, respect, and fairness.
                    </p>
                </li>
                <li>
                    <p>
                        The decisions of the Global Child Prodigy Awards committee are final and binding.
                    </p>
                </li>
                <li>
                    <p>
                        Winners will be announced on the official website, social media channels, and through press
                        releases to local and international media outlets.
                    </p>
                </li>
            </ol>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab" style="font-weight: 0%;">
            <!-- Categories content -->
            <p><strong><span style="font-size: 18px;">AWARDS CATEGORY</span></strong><span
                    style="font-size: 18px;"></span><br>
                Acting & Theatre, Art, Cooking, Dance, Education, Entrainment, Entrepreneurship, Fashion, Gaming,
                Innovation & Technology, Intelligence & Memory - IQ, Language, Magician, Mentoring & Teaching, Music &
                Singing, Photography, Public Speaker & Presenter, Social & Environment, Space Science & Astronomy,
                Sports, Writing & Poetry, Yoga & Fitness, Social Media Influencer, and others.
            </p>
            <p></p>
            <p><strong>ACTING AND THEATER:</strong> Acting is an activity in which a story is told by means of its
                enactment by an actor or actress who adopts a character—in theatre, television, film, radio, or any
                other medium that makes use of the mimetic mode. Children who are passionate about acting and theatre
                and have talent in those areas are honored by Global Child Prodigy Awards. It is not just the actors who
                are included but also the directors, designers, choreographers, composers, puppeteers, and videographers
                as well. Either you love being part of movies, short films, serials, web series, adflims, social media
                videos, theatrical plays, documentaries, and other types of media, or you want to be a part of making
                movies.
            </p>
            <p></p>
            <p><strong>ART:</strong> Art is a diverse range of human activity and resulting product, that involves
                creative or imaginative talent expressive of technical proficiency, beauty, emotional power, or
                conceptual ideas. GCP recognizes children who have talent in any of the art forms. These art forms
                include — Drawing, Painting, Sculpture, Printmaking, Calligraphy, Digital Art, Mosaic, Fiber Art,
                Graffiti Art, Collage, Engraving, Caricature, Origami, Glass Art, Street Art, Pottery, Illustration,
                Animation, Murals, Woodworking, Jewelry-making, Installation Art, Land Art, Sound Art, Paper Art,
                Performance Art, Conceptual Art, Environmental Art, Metal Art, and all other art forms.
            </p>
            <p></p>
            <p><strong>COOKING &amp; CULINARY:</strong> Culinary arts are the cuisine arts of food preparation, cooking,
                and presentation of food, usually in the form of meals. The Global Child Prodigy Awards are presented to
                children who have shown excellence in cooking, baking, making pastries, bartending, making wine, and
                running a restaurant. These awards are given to children who have shown an interest and have the vision
                to make significant contributions to the culinary world through innovation, creativity, quality, and/or
                consistency.
            </p>
            <p><strong>DANCE:</strong> Dance is a form of performance art that has many different styles and techniques,
                from classical to modern. The Global Child Prodigy Awards honour children who have shown talent,
                dedication, and creativity in dance styles like classical, ballet, contemporary, jazz, tap, hip hop,
                folk, traditional, ballroom, aerial, street dance, Latin, and more. These awards are presented to
                dancers who have shown technical skill, creative choreography, and a desire to share the joy of dance
                with others. By doing this, they help spread a love of dance in their communities.
            </p>
            <p><strong>EDUCATION:</strong>Education encompasses the acquisition of knowledge, skills, values,
                and attitudes essential for personal growth, social development, and fulfilling life. The Global Child
                Prodigy Awards celebrate children who have shown talent in academic subjects, extracurricular
                activities, innovative educational projects, or excelling in competitions such as Olympiads. These
                awards recognize young minds who have demonstrated dedication to learning, outstanding academic
                performance, leadership in educational initiatives, or a commitment to making education accessible,
                engaging, and inclusive for all.
            </p>
            <p><strong>ENTERTAINMENT:</strong> Entertainment is a broad category that includes various performing arts,
                visual arts, and media forms. The Global Child Prodigy Awards honor children who have interest and
                talent, creativity, and innovation in areas such as comedy, filmmaking, animation, or puppetry. These
                awards recognize young entertainers who have the vision to make significant contributions to the world
                of entertainment, captivating audiences with their unique skills, engaging storytelling, and
                unforgettable performances.
            </p>
            <p><strong>ENTREPRENEURSHIP:</strong> Entrepreneurship involves identifying opportunities, developing
                innovative ideas, and creating new ventures that drive economic growth and solve societal problems. The
                Global Child Prodigy Awards celebrate children who have shown an ability to identify opportunities,
                create innovative solutions, and develop successful business ventures. These awards recognize young
                entrepreneurs who have demonstrated a strong entrepreneurial mindset, passion for innovation, and
                commitment to creating positive change through their business endeavors.
            </p>
            <p><strong>FASHION:</strong> Fashion encompasses self-expression, personal style, and cultural identity
                through clothing, accessories, makeup, and hairstyles. The Global Child Prodigy Awards honor young
                individuals who have showcased talent, innovation, and creativity in the fashion industry. These awards
                celebrate children who possess talent in fashion design, styling, photography, modeling, or other
                fashion-related fields and have the potential to make a significant impact on the industry through their
                unique vision and dedication to their craft.
            </p>
            <p><strong>GAMING: </strong>Gaming is a diverse and rapidly evolving industry, encompassing various
                platforms and genres, from casual mobile games to immersive virtual reality experiences. The Global
                Child Prodigy Awards recognize children who have shown skills, creativity, and innovation in the world
                of gaming. These awards honor young gamers who have demonstrated a passion for gaming, a deep
                understanding of game mechanics, and the ability to create engaging and enjoyable experiences for
                players.
            </p>
            <p><strong>INNOVATION &amp; TECHNOLOGY:</strong> Innovation and technology encompass the creation and
                implementation of new ideas, processes, and products that improve lives and transform industries. The
                Global Child Prodigy Awards celebrate children who have demonstrated talent and innovation in fields
                such as robotics, artificial intelligence, software development, and engineering. These awards recognize
                young visionaries who are committed to pushing the boundaries of technology, creating groundbreaking
                solutions, and paving the way for a brighter future.</p>
            <p><strong>INTELLIGENCE &amp; MEMORY- IQ:</strong>Intelligence and memory are crucial cognitive abilities
                that enable problem-solving, learning, and adaptation. The Global Child Prodigy Awards honor children
                who have demonstrated intelligence, memory, or cognitive skills, such as high IQ scores, problem-solving
                abilities, or remarkable memory feats. These awards recognize young children who have shown a deep
                understanding of subjects, a capacity for rapid learning, and an ability to think critically and
                creatively. This category encompasses a wide range of areas, including academic subjects, logic and
                reasoning, innovative thinking, and more. GCP Awards celebrate young minds that demonstrate intelligence
                and memory, inspiring others to strive for excellence.
            </p>
            <p></p>
            <p><strong>LANGUAGE: </strong>Language is an essential tool for communication, understanding, and
                self-expression, allowing people to connect with others and share ideas across cultures. The Global
                Child Prodigy Awards honor children who have shown talent and skill in learning, speaking, or writing
                any language or multiple languages, as well as those who excel in the fields of linguistics,
                translation, or language preservation. These awards recognize young polyglots and language enthusiasts
                who promote cultural understanding, bridge communication gaps, and contribute to the preservation and
                celebration of linguistic diversity.</p>
            <p><strong>MAGICIAN:</strong>Magic is an art form that combines performance, illusion, and skill to
                entertain, amaze, and inspire audiences. The Global Child Prodigy Awards celebrate children who have
                talent and innovation in the field of magic. These awards honor young magicians who have shown a mastery
                of various magical techniques, a commitment to developing their craft, and an ability to captivate
                audiences with their enchanting performances.</p>
            <p><strong>MENTORING &amp; TEACHING:</strong>Mentoring and teaching involve guiding, inspiring, and
                supporting others in their personal and professional growth. The Global Child Prodigy Awards recognize
                children who have shown interest and have skills in mentoring or teaching their peers, younger students,
                or even adults. These awards honor young mentors and teachers who demonstrate empathy, patience, and the
                ability to effectively communicate knowledge and wisdom, positively impacting the lives of those they
                guide.
            </p>
            <p><strong>MUSIC &amp; SINGING:</strong>Music and singing are powerful forms of creative expression,
                transcending cultural and linguistic boundaries to unite people through shared emotions and experiences.
                The Global Child Prodigy Awards honor children who have shown talent and passion in music, including
                composition, performance, singing, or playing a musical instrument. This category encompasses a diverse
                range of musical genres, such as classical, jazz, rock, pop, country, and more. The GCP Awards recognize
                young musicians and singers who have made significant contributions to the world of music, showcasing
                their unique talents on various instruments, including guitar, piano, drums, violin, flute, and more.
                These children inspire others with their love for art and passion for creating beautiful music.
            </p>
            <p><strong>PHOTOGRAPHY: </strong>Photography is a visual art form that captures moments, emotions, and
                stories through the medium of still images. The Global Child Prodigy Awards celebrate children who have
                demonstrated skills, creativity, and innovation in various forms of photography, such as wildlife
                photography, portrait photography, landscape photography, street photography, conceptual photography,
                and more. The GCP Awards recognize young photographers who have developed a unique perspective and
                style, capturing compelling images that evoke emotion, inspire thought, or convey powerful narratives.
            </p>
            <p><strong>PUBLIC SPEAKER &amp; PRESENTER:</strong> Public speaking and presenting are essential skills for
                effective communication, allowing individuals to convey their ideas, information, and stories to a
                diverse audience. The Global Child Prodigy Awards recognize young children who have exhibited talent and
                skill in public speaking, presenting, or debating. This category encompasses various speaking styles,
                including motivational speeches, informative talks, persuasive presentations, impromptu speaking,
                storytelling, and more. The GCP awards celebrate young orators who exhibit confidence, eloquence, and
                the ability to engage and persuade audiences. These awards inspire and empower young minds to use their
                voices for positive change, making a significant impact on society.
            </p>
            <p><strong>SOCIAL &amp; ENVIRONMENT:</strong>Social and environmental issues require dedicated individuals
                who are passionate about making a difference in the world. The Global Child Prodigy Awards celebrate
                children who possess commitment and innovation in addressing a wide range of social or environmental
                challenges. These challenges may include poverty, inequality, climate change, wildlife conservation,
                waste management, renewable energy, and sustainable development, among others. The GCP Awards recognize
                young activists, philanthropists, and environmentalists who are working tirelessly to create a more
                just, equitable, sustainable, and compassionate world for present and future generations.

            </p>
            <p><strong>SPACE SCIENCE &amp; ASTRONOMY:</strong>Space science and astronomy explore the mysteries of the
                universe, from celestial bodies to the fundamental laws governing the cosmos. It covers a wide range of
                areas, including astrophysics, cosmology, planetary science, astrobiology, and more. The Global Child
                Prodigy Awards honour children who possess talent and passion in the fields of space science, astronomy,
                or astrophysics. GCP awards recognize young and enthusiastic astronomers and scientists who are
                committed to advancing our understanding of the universe, inspiring curiosity, and fostering a sense of
                wonder about the cosmos.</p>
            <p><strong>SPORTS: </strong> Sports encompass a wide range of physical activities that require skill,
                strength, endurance, and teamwork, both indoor and outdoor. The Global Child Prodigy Awards celebrate
                children who have shown talent, dedication, and hard work in various sports, such as athletics,
                gymnastics, swimming, football, basketball, cricket, tennis, table tennis, badminton, chess, martial
                arts, individual sports, and all other sports format. GCP awards recognize young athletes who have
                demonstrated good performance, sportsmanship, and a commitment to personal growth and development,
                inspiring others through their passion and dedication to their chosen sport.
            </p>
            <p><strong>WRITING &amp; POETRY:</strong>Writing and poetry serve as powerful self-expression outlets,
                enabling individuals to share thoughts, emotions, and experiences. The GCP Awards honor children
                showcasing talent and creativity in various writing forms, such as fiction, non-fiction, journalism, or
                poetry. This category covers diverse styles, including short stories, novels, essays, articles,
                screenplays, and poetic forms like sonnets, haikus, and free verse. GCP Awards acknowledge young writers
                and poets with unique voices, engaging storytelling, and the ability to captivate readers.
            </p>
            <p><strong>YOGA &amp; FITNESS: </strong>Yoga and fitness are essential components of a healthy lifestyle,
                promoting physical, mental, and emotional well-being. The Global Child Prodigy Awards celebrate children
                who display talent and dedication in various aspects of yoga, fitness, or other wellness practices.
                These awards recognize young yogis, fitness enthusiasts, or wellness advocates who are committed to
                inspiring others to embrace a healthy lifestyle and achieve their full potential. This category
                encompasses a wide range of yoga styles, such as Hatha, Ashtanga, Vinyasa, Power, Kundalini, and
                Iyengar, as well as fitness activities like Pilates, aerobics, strength training, functional training,
                and sports conditioning.
            </p>
            <p><strong>SOCIAL MEDIA INFLUENCER:</strong> Social media platforms, such as YouTube and Instagram, have
                given rise to a new generation of influencers who create content, inspire audiences, and impact popular
                culture. The Global Child Prodigy Awards honor children who show talent as content creators,
                influencers, or social media personalities. These awards recognize young individuals who are willing to
                use their platforms to share their passions, inspire others, and make a positive impact on the world.
            </p>
            <p><strong>OTHERS: </strong> The Global Child Prodigy Awards also recognize talent and achievement in
                various other fields that may not fit neatly into the above categories. These awards celebrate children
                who have demonstrated unique skills, passions, or accomplishments in areas such as, but not limited to,
                activism, charity work, craftsmanship, or cultural preservation. The awards aim to honor the diverse
                range of talents and pursuits that young prodigies around the world are engaged in, inspiring others to
                follow their passions and achieve greatness in their chosen fields.
            </p>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <!-- Eligibility content -->
            <p><strong>ELIGIBILITY AND RULES</strong><br><br>To be eligible for the Global Child Prodigy Awards, a
                participant must:</p>
            <ol>
                <li>
                    <p><strong>Age Requirement</strong>: Be under the age of 15 years at the time of the application.
                    </p>
                </li>
            </ol>
            <ol start="2">
                <li>
                    <p><strong>Area of Talent:</strong> Show talent and passion in any field, such as Acting & Theatre,
                        Art, Cooking, Dance, Education, Entrainment, Entrepreneurship, Fashion, Gaming, Innovation &
                        Technology, Intelligence & Memory - IQ, Language, Magician, Mentoring & Teaching, Music &
                        Singing, Photography, Public Speaker & Presenter, Social & Environment, Space Science &
                        Astronomy, Sports, Writing & Poetry, Yoga & Fitness, Social Media Influencer, and others.
                    </p>
                </li>
            </ol>
            <ol start="3">
                <li>
                    <p><strong>Involvement</strong>: Possess a minimum of 3 months of experience or participation in the
                        chosen talent area, reflecting dedication and commitment to their craft. For example, if a
                        nominee is applying for the art category, they must have been involved in the art domain for at
                        least 3 months.
                    </p>
                </li>
            </ol>
            <ol start="4">
                <li>
                    <p><strong>Global Citizen</strong>: Be a citizen of a country that has been recognized by the United
                        Nations.</p>
                </li>
            </ol>
            <ol start="5">
                <li>
                    <p><strong>Ethics and Impact</strong>: Exhibit strong ethics and a commitment to positively
                        impacting their community or society, and illustrate how their talent contributes to the greater
                        good.</p>
                </li>
                <li>
                    <p><strong>Supporting Evidence : </strong> Participants may submit optional supporting evidence of
                        their work, awards, or recognition on a national or international level, including but not
                        limited to images, videos, Resume/CV, profile, certificates, honors, media coverage, or letters
                        of recommendation.
                    </p>
                </li>
                <li>
                    <p><strong>Language Proficiency:</strong> Any language is acceptable for communication during
                        selection and subsequent events.</p>
                </li>
                <!-- <li>
                    <p><strong>Independence</strong>: Not be an immediate family member of any Global Child Prodigy
                        Awards committee member, judge, or employee.</p>
                </li> -->
                <li>
                    <p><strong>Availability</strong>: Ideally, Awardees should be available to attend the awards
                        ceremony, related events, and media appearances, either in person or virtually. Exceptions may
                        be made for circumstances such as exams, sports events, health-related issues, family
                        emergencies, or other significant commitments.
                    </p>
                </li>
            </ol>
            <p><br></p>
        </div>
        <div class="tab-pane fade" id="submission" role="tabpanel" aria-labelledby="submission-tab">
            <!-- Submission content -->
            <p><strong>SUBMISSION PROCESS</strong></p>
            <ol>
                <li>
                    <p><strong>Participation: </strong>
                        Parents, guardians, teachers, mentors, or community leaders may submit a participation entry for
                        a child prodigy by filling out the online application form available on our website.
                        Self-participation is also accepted for children aged 13 and above.
                    </p>
                </li>
                <li>
                    <p><strong>Optional Documents: </strong>
                        To participate, applicants may choose to submit a detailed profile, CV, or resume, along with
                        supporting materials showcasing their talent. These may include links to videos, images of their
                        work, links to their projects (if any), and links to their social media profiles, only if
                        available Kindly Dont create social media if unavailable. Additionally, applicants can provide
                        any certificates details, award details, media coverage, letters of recommendation, and all
                        other supporting documents based on availability.
                    </p>
                    <p>
                        Submitting these documents is optional, but it can help the Global Child Prodigy Awards
                        committee better understand the applicant's work and potential. Applicants can create a Google
                        Drive folder to store their supporting materials and share the folder link in their profile or
                        resume. Here's a condensed 5-step guide to set up the folder:
                    </p>
                    <ol style="list-style-type: lower-alpha;">
                        <li>
                            <p>
                                Sign in to your Google account, go to Google Drive (drive.google.com), click "New," then
                                select "Folder" and name it (e.g., "Global Child Prodigy Awards Application").
                            </p>
                        </li>
                        <li>
                            <p>
                                Right-click the created folder, choose "Share," and in the "Share with people and
                                groups" window, click "Change" under "Get link."
                                Select "Anyone with the link" in the dropdown menu and click "Done." The folder is now
                                accessible to anyone with the link.
                            </p>
                        </li>
                        <li>
                            <p>
                                Select "Anyone with the link" in the dropdown menu and click "Done." The folder is now
                                accessible to anyone with the link.
                            </p>
                        </li>
                        <li>
                            <p>
                                Add your supporting materials (e.g., profile, CV, videos, images, certificates) to the
                                folder by dragging and dropping files into it or clicking "New" and choosing the
                                appropriate upload option.
                            </p>
                        </li>
                        <li>
                            <p>
                                Copy the link by clicking the "Copy link" button in the "Share with people and groups"
                                window, and paste it into your profile or resume when submitting your application.
                            </p>
                        </li>
                    </ol>

                    <p>
                        Following these steps ensures that the Global Child Prodigy Awards committee can access and
                        review your documents and materials in the shared Google Drive folder.
                    </p>
                    <p>
                        Once the online application has been submitted, participants can update or add more details,
                        works, videos, photos, and other documents by navigating to "My Profile" on the website and
                        including the necessary information. You can keep adding information to the online portal till
                        the GCPA Application deadline is over. Providing comprehensive and relevant information can
                        enhance the applicant's chances of being recognized and selected as a finalist.
                    </p>
                </li>
                <li>
                    <p><strong>*Deadline:</strong>
                        The participation period will be announced on the official website and social media channels.
                        Late submissions will not be considered.
                    </p>
                    <p><br></p>
                </li>
            </ol>

        </div>
        <div class="tab-pane fade" id="judging" role="tabpanel" aria-labelledby="judging-tab">
            <!-- Submission content -->
            <p><strong>JUDGING</strong></p>
            <ol>
                <li>
                    <p>
                        The Global Child Prodigy Awards Selection Committee is entrusted with the task of appraising participants' entries based on their talent, skill, potential, commitment, and innovation, without considering factors such as resources, background, popularity, or prior accomplishments. Each entry will be judged within its specific category of the online application made by the participant.
                    </p>
                </li>
                <li>
                    <p>
                        The Selection Committee will supervise all aspects of the selection process, including the review and evaluation of submitted online entries. Each entry will be checked for eligibility and appropriate categorization upon submission.
                    </p>
                </li>
                <li>
                    <p>
                        The information, documents, and profile provided by participants in their entries will be assessed by the committee. After a comprehensive examination of the submitted materials, the committee will identify the awardees and notify participants of their selection status within a predetermined timeframe. The results will be shared with the participants in each category.
                    </p>
                </li>
                <li>
                    <p>
                        The Global Child Prodigy Awards will celebrate the winners in each category during the Awards Ceremony, scheduled for a pre-established date.
                    </p>
                </li>
            </ol>
        </div>
        <div class="tab-pane fade" id="prices" role="tabpanel" aria-labelledby="prices-tab">
            <!-- prices content -->
            <p><strong>APPLICATION FEE: </strong>
                A one-time application fee of USD $15 or INR 1250/- is applicable at the time of application to avoid
                spam entry. This fee includes applicable government taxes.

                Please note that GCP charges only a one-time nominal application fee from the participants at the time
                of application; after that, NO CHARGES or NO HIDDEN FEE will be applied.
                Any organization or person purporting to be from the GCP and seeking money from participants is
                susceptible to legal action on the part of the GCP. In that case, kindly send us an email.

                Any fees or information will exclusively be collected through the website/ official e-mail/ official
                partners only. No in-person contact will be made from the side of the GCPA. In case of any such contact
                kindly inform us.
            </p>
            <p><br></p>
        </div>
        <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab">
            <app-faq></app-faq>
    </div>
    </div>
</div>