    /* Importing fonts from Google */
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
    /* Reseting */
    
    
    h2 ,.gcpatext{
        color: #ef3789;
        font-weight: bold;
    } 
    
    .modal{
       display: block;
    }

    .btn-close{
        float: right;
    }

    #btnClose:hover{
        border: 2px solid #8282fe;
        background-color: #cdcdfe;
        
    }

    /* .gcpabutton{
        background-color: #5095cf!important;
    } */

    .back{
        background-color: rgba(0, 0, 0, 0.274) 
    }

.card, .modal-content{
    border-radius: 20px !important;
    }
    .colouredButton{
        background-color: #000093;
    }

    .borderr{
        border: 1px solid #000093;
    }

#recaptcha{
    text-align: center;
    justify-content: center;
    margin-left: 15%;
}

/*********************************************************** */

#resetPasswordContainer {
    box-shadow: 0px 0px 2px 0px #20282E;
    background-color: #FFFFFF;
    border-radius: 5px;;
}

#button {
    background-color: #000093;
    color: #FFFFFF;
    font-size: 18px;
}

#button:focus,
#button:active {
    background-color: #000093;
}

#button2 {
    background-color: none;
    color: #4285F4;
    font-size: 18px;
}


.nav-login-tab,
.nav-signup-tab {
    background-color:  rgba(92, 96, 236, 0.2);
}

.nav-item {
    color: #5559D9;
}

.tab-active {
    background-color: #5559D9;
    color: #FFFFFF;
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: none;
}

input,
select,
textarea {
    border-color: none;
    background-color: #f4f5f7;
    outline: none;
}

.header {
    color: #5559D9;
}
.forgotPassword {
    color: #1B1F23;
    font-size: 14px;
}
h3 {
    color: #272845;
}
.checked{
    color: #67CB45;
    font-size: 14px;
}
.unChecked{
    color: #1B1F23;
    font-size: 14px;
}