<div class="container mt-5 pt-5" style="line-height: 2;">
    <div class="col-md-12">
        <h1 class="mb-5 text-center">Reset Your Password</h1>
        <div class="row content-padding">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-justify">
				<div class="form-body" *ngIf="!passwordResetCompleted">
					<form class="row g-3" (submit)="handleResetPassword()">
						<h6>*Use minimum 6 characters including letters and numbers</h6>
						<div class="form-check form-group align-middle m-0">
							<input class="form-check-input forgotPassword align-middle" type="checkbox" value="" (click)="togglePassword()" id="flexCheckDefault">
							<label class="form-check-label forgotPassword align-middle mb-2" for="flexCheckDefault">
								Show Password
							</label>
						</div>
							<input [(ngModel)]="newPassword" class="form-control" [type]="showPassword ? 'text':'password'" id="newPassword" name="newPassword" placeholder="New Password" (input)="checkInputField()"> <br> 
							<input [(ngModel)]="confirmPassword" class="form-control" [type]="showPassword ? 'text':'password'" id="confirmPassword" name="confirmPassword" placeholder="Confirm New Password" (input)="checkInputField()"> <br>
						
							<div class="pb-2">
								<h6 class="m-0">
									<span *ngIf="minLength" class="material-symbols-outlined align-middle checked">done</span>
									<span *ngIf="!minLength" class="material-symbols-outlined align-middle unChecked">close</span>
									Use minimum 6 characters </h6>
								<h6 class="m-0">
									<span *ngIf="containsLetters" class="material-symbols-outlined align-middle checked">done</span>
									<span *ngIf="!containsLetters" class="material-symbols-outlined align-middle unChecked">close</span>
									Use atleast 1 letter </h6>
								<h6 class="m-0">
									<span *ngIf="containsNumbers" class="material-symbols-outlined align-middle checked">done</span>
									<span *ngIf="!containsNumbers" class="material-symbols-outlined align-middle unChecked">close</span>
									Use atleast 1 number</h6>
								<h6 class="m-0">
									<span *ngIf="passwordsMatched" class="material-symbols-outlined align-middle checked">done</span>
									<span *ngIf="!passwordsMatched" class="material-symbols-outlined align-middle unChecked">close</span>
									Both passwords Must Match</h6>
							</div>

						<button type="submit" class="btn btn-block mb-4" [disabled] = "!minLength || !containsLetters || !containsNumbers || !passwordsMatched" id="button">Confirm</button>
					</form>
				</div>
				<div *ngIf="passwordResetCompleted" class="text-center">
					<p class="m-0"><span class="material-symbols-outlined" style="color: #67CB45;">check_circle_outline</span></p>
					<p  style="font-size: 14px;" >Password Changed Successfully!</p>
					<button type="submit" class="btn gcpabutton"
					 style="background-color: #000093 !important; color: white"
					 (click)="navigateToLogin()"><i class="bx bxs-lock-open"></i>Log In</button>
				</div>
			</div>

        <div class="col-md-4"></div>
</div>
</div>
</div>