.back{
    background:rgba(0, 0, 0, 0.8)  url('../../../../assets/applyDark.jpeg');
    background-attachment:scroll;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 100vw !important;
}

.applyBack{
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%; 
}

@media (max-width: 979px) {
  .applyBack{
    padding-top: 0px;
    width: 100%;
  }
}


.apply {
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Nunito Sans',sans-serif;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }
  @-webkit-keyframes glowing {
    0% { background-color: #1976D2; -webkit-box-shadow: 0 0 3px #1976D2; }
    50% { background-color: #1976D2; -webkit-box-shadow: 0 0 40px #1976D2; }
    100% { background-color: #1976D2; -webkit-box-shadow: 0 0 3px #1976D2; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color: #1976D2; -webkit-box-shadow: 0 0 3px #1976D2; }
    50% { background-color: #1976D2; -webkit-box-shadow: 0 0 40px #1976D2; }
    100% { background-color: #1976D2; -webkit-box-shadow: 0 0 3px #1976D2; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #1976D2; -webkit-box-shadow: 0 0 3px #1976D2; }
    50% { background-color: #1976D2; -webkit-box-shadow: 0 0 40px #1976D2; }
    100% { background-color: #1976D2; -webkit-box-shadow: 0 0 3px #1976D2; }
  }
  
  @keyframes glowing {
    0% { background-color: #1976D2; -webkit-box-shadow: 0 0 3px #1976D2; }
    50% { background-color: #1976D2; -webkit-box-shadow: 0 0 40px #1976D2; }
    100% { background-color: #1976D2; -webkit-box-shadow: 0 0 3px #1976D2; }
  }
@media (min-width: 576px){
  .back{
    min-height: 70vh !important;
  }

    .container {
        max-width: 540px;
    }
}


@media (min-width: 768px){

    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px){

  .back{
    min-height: 70vh !important;
  }
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px){

  .back{
    min-height: 90vh !important;
  }
    .container {
        max-width: 1140px;
    }
}
