<div class="container pt-5">
    <div class="row pt-5 text-center">
        <div class="col-2"></div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">Welcome user to our beta v1 application for registration.</h5>
                <div class="card-body">
                  <h5 class="card-title">Please enter password to procceed further</h5>
                  <p class="card-text">
                    <input type="text" name="password" id="password" [(ngModel)]="password">
                  </p>
                  <button class="btn btn-danger" (click)="submit()">Enter</button>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>