<div class="container mt-5 pt-5" style="line-height: 2;">

   <div class="col-md-12 text-center">
      <h1 class="mb-5">Frequently asked Questions</h1>
      <div class="row content-padding">
         <div class="col-md-2"></div>
         <div class="col-md-8">
            <div class="accordion" id="accordionExample">
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        Who is a Child Prodigy?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        A child prodigy is defined as someone who possesses exceptional talent or understanding far
                        beyond their age group. These talented children typically exhibit extraordinary skills,
                        knowledge, or abilities in one or more fields before the age of 15. They often achieve
                        significant accomplishments or receive notable recognition for their talents at a young age.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        What is the Global Child Prodigy Awards initiative?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        The Global Child Prodigy Awards (GCP Awards) is a unique initiative that recognizes,
                        appreciates, and rewards the Child Prodigies from around the world each year. It aims to
                        identify young talents from various fields who demonstrate exceptional skills in areas such as
                        academics, arts, sports, and innovation. These extraordinary children are honored at the Global
                        Child Prodigy Award Ceremony, graced by prominent leaders and celebrities. Additionally, their
                        inspiring stories are featured in the Global Child Prodigy Annual Book, which is circulated
                        worldwide, showcasing their achievements and providing them with global exposure.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        Why was the Global Child Prodigy Awards created?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        The Global Child Prodigy Awards were created to highlight the natural abilities of children who
                        showcase unique and rare talents across the globe. The initiative's goal is to provide young
                        talents with global exposure, helping them receive the recognition they deserve and connecting
                        them with the right opportunities to create a significant impact on society. By supporting and
                        encouraging these prodigies, the awards aim to ensure that they continue to excel without any
                        obstacles in their journey.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        What are the eligibility criteria for the Global Child Prodigy Awards?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        The eligibility criteria for the Global Child Prodigy Awards include:Age Requirement: Applicants
                        must be under 15 years of age at the time of application, Area of Talent: Applicants must
                        demonstrate talent and passion in any field, such as academics, arts, sports, innovation, and
                        more.
                        For more please have a look at https://gcpawards.com/how-it-works
                     </p>
                  </div>
               </div>

               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        Is there an age limit for participants?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        Yes, participants must be under 15 years of age at the time of application while applying for
                        Global Child Prodigy Awards.
                     </p>

                  </div>
               </div>

               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        Can children from any country apply for the awards?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        Yes, children from any country recognized by the United Nations are welcome to apply.
                     </p>
                  </div>
               </div>

               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        Are there specific fields or categories in which a child can apply?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        Children can apply in a wide range of fields and categories, such as Acting & Theatre, Art,
                        Cooking, Dance, Education, Entrainment, Entrepreneurship, Fashion, Gaming, Innovation &
                        Technology, Intelligence & Memory - IQ, Language, Magician, Mentoring & Teaching, Music &
                        Singing, Photography, Public Speaker & Presenter, Social & Environment, Space Science &
                        Astronomy, Sports, Writing & Poetry, Yoga & Fitness, Social Media Influencer, and others.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        How do I apply for the Global Child Prodigy Awards?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        To apply for the Global Child Prodigy Awards Visit the official website at
                        https://gcpawards.com/Registration and fill out the online application form, providing all
                        required personal details, contact information, and a description of your talent.
                        Submit your application before the specified deadline.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        Is there an application fee?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        There is a one-time application fee of USD $15 or INR 1250/- to avoid spam entries. This fee
                        includes applicable government taxes. GCP charges only a one-time nominal application fee during
                        the application process; there are no hidden fees. Beware of any organization or person claiming
                        to be from GCP and seeking money from participants.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        Why does the Global Child Prodigy Awards charge an application fee?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        The Global Child Prodigy Awards (GCP) asks for a small application fee to make sure the process
                        runs smoothly and fairly for everyone involved. Here's why this fee is essential:
                     </p>
                     <ol>
                        <li>
                           Keeping things real: The fee helps us make sure that only those who are genuinely passionate
                           about showcasing their talents apply, and it keeps spam entries at bay.
                        </li>
                        <li>
                           Covering our costs: We use the application fee to manage the expenses that come with
                           reviewing applications, keeping our website running, server costs and others. It helps us
                           continue to celebrate and support child prodigies worldwide.
                        </li>
                        <li>
                           Ensuring fairness: By charging a nominal fee, we create an equal opportunity for all
                           participants, as they are assessed based on their talents and not their financial capacity.
                        </li>
                        <li>
                           Supporting our mission: The fee helps us maintain and grow the GCP Awards initiative,
                           allowing us to keep recognizing and nurturing young talents across the globe.
                        </li>
                     </ol>
                     <p>
                        Remember, we only charge a one-time application fee and there are no hidden costs. If anyone
                        claims to be from GCP and asks for extra money, please report them to us.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        I have received an email from GCPA that I have to pay extra money?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        It is essential to be aware that the Global Child Prodigy Awards only charges a one-time nominal
                        application fee, as mentioned above. We do not ask for any additional fees for the award. It is
                        possible that the email you received is from another organization or an individual attempting to
                        impersonate GCP Awards. We advise you to exercise caution and only trust communications from
                        official GCP Awards email addresses (i.e., ending with @gcpawards.com or @gcpawards.org). If you
                        have any concerns or questions, please do not hesitate to reach out to us directly at
                        info@gcpawards.com.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        When is the deadline for submitting applications?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        The deadline for submitting applications varies each year. The last date will be updated
                        shortly.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        What information and documents should I include in the application?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        In your application, provide personal details, contact information, and a description of your
                        talent, achievements, and contributions in your chosen field. You may also submit optional
                        supporting evidence of your work, awards, or recognition on a national or international level,
                        including but not limited to images, videos, resumes/CVs, certificates, honors, media coverage,
                        or others
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        Can I submit my application in a language other than English?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        Yes, any language is acceptable for communication during the selection and subsequent events.
                        However, providing information in English can facilitate the evaluation process.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        Can I edit my application after submission?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        Once the online application has been submitted, participants can update or add more details,
                        works, videos, photos, and other documents by navigating to "My Profile" on the website and
                        including the necessary information. You can keep adding information to the online portal until
                        the GCPA Application deadline is over. Providing comprehensive and relevant information can
                        enhance the applicant's chances of being recognized and selected as a finalist.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        What if I encounter technical issues during the application process?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        If you experience technical issues during the application process, contact the GCP Awards team
                        for assistance by writing to them at info@gcpawards.com. They will be able to help resolve any
                        issues or provide guidance on completing your application.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        How many winners will be chosen each year?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        The Global Child Prodigy Awards selects 100 winners each year from various fields and
                        categories.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        Can a participant apply in more than one category?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        A participant may submit their information in no more than one category per application. To
                        participate in more than one category, participants are required to submit a separate
                        application for each category.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        Will applicants receive feedback on their submissions?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        While the GCP Awards may not be able to provide individual feedback on every submission due to
                        the high volume of applications, they do provide general guidance and updates on the selection
                        process through their website and social media channels.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        When and where is the GCP Awards ceremony held?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        The GCP Awards ceremony's date and location vary each year. We will update the information soon
                        as per confirmation.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        How are winners announced and informed?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        Winners are announced through the GCP Awards website, social media channels, and official press
                        releases. Additionally, winners are informed individually via email.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        What is the purpose of the Global Child Prodigy Annual Book?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        The Global Child Prodigy Annual Book aims to showcase the extraordinary stories of the world's
                        child prodigies. By featuring their achievements, the book provides these young talents with
                        global exposure, inspiring others to pursue their passions and make a difference in the world.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        How can I obtain a copy of the Global Child Prodigy Annual Book?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        You can order a copy of the Global Child Prodigy Annual Book through the GCP official website or
                        on Amazon.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        How can I learn more about previous GCP Awards ceremonies?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        To learn more about past GCP Awards ceremonies, visit the GCP Awards website at
                        https://gcpawards.com/gcpa2022 or follow our social media channels for updates, photos, and
                        videos of previous events.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        Who are some of the notable guests from past GCP Awards events?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        Notable guests from past GCP Awards events include Nobel Peace Laureate Shri Kailash Satyarthi,
                        Dr. Kiran Bedi (Honorable Lt. Governor of Puducherry), His Highness Sheikh Nahayan Mabarak Al
                        Nahayan (Cabinet Member and Minister of Tolerance & Coexistence, Government of the UAE), Nobel
                        Prize Winner Sir Richard J. Roberts, and Dr. Azad Moopen (Chairman and Managing Director - Aster
                        DM Healthcare).
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        How can I stay updated on GCP Awards news and announcements?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        To stay updated on GCP Awards news and announcements, follow our website and social media
                        channels, and subscribe to our newsletter.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        Are there volunteer or partnership opportunities available with the GCP Awards?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        To inquire about volunteer or partnership opportunities with the GCP Awards, write to us at
                        info@gcpawards.com.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        Can I nominate someone for the awards do they need to apply themselves?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        You can nominate someone for the Global Child Prodigy Awards by visiting
                        https://gcpawards.com/nominate and submitting the nominee's information. The nominee can also
                        apply directly by completing the online application form on the GCP Awards website.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        How do I contact the GCP Awards team for more information or assistance?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        If you require more information or assistance, you can contact the GCP Awards team by writing to
                        them at info@gcpawards.com.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        How can I get involved with the Global Child Prodigy Awards community?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        You can get involved with the Global Child Prodigy Awards community by following our social
                        media channels, participating in our events, engaging with our content, and sharing the
                        inspiring stories of child prodigies with your network.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        Are there any success stories of previous winners?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        Yes, many previous GCP Awards winners have gone on to achieve great success in their respective
                        fields, gaining further recognition, accolades, and opportunities. The GCP Awards website and
                        social media channels often feature updates on the achievements and success stories of past
                        winners.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        Can a participant win the award more than once?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        Yes, it is possible. If a participant continues to demonstrate exceptional talent, achievements,
                        and impact in their field, they may be considered for the award again in the future.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        Is Global Child Prodigy available on WhatsApp?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        Yes, Global Child Prodigy Awards is accessible on WhatsApp. You can reach out to us at the
                        following number: +91 86991 06991. Feel free to contact us if you have any questions or need
                        assistance related to the GCP Awards.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        Is the Global Child Prodigy available on Telegram?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        The Global Child Prodigy Awards can be found on Telegram. The following username, @Gcpabot, can
                        be used to communicate with us here at GCPA. If you have any questions or require assistance in
                        relation to the GCP Awards, please do not hesitate to get in touch with us.
                     </p>
                  </div>
               </div>
               <div class="card py-3 my-3">
                  <div id="headingOne">
                     <h2>
                        On which social media platforms is GCPA available?
                     </h2>
                  </div>
                  <div class="px-3">
                     <p class="faqp">
                        Global Child Prodigy Awards (GCPA) maintains an active presence on a variety of social media
                        platforms to engage with its audience and share updates. You can find GCPA on YouTube, Facebook,
                        Instagram, Twitter, Pinterest, Spotify, Gaana, Amazon Music, JioSaavn, WhatsApp, & Telegram.
                     </p>
                  </div>
               </div>

            </div>
         </div>
         <div class="col-md-2"></div>
      </div>
   </div>
</div>