<div class="container mt-5 pt-5" style="line-height: 2;">

   <div class="col-md-12">
      <h1 class="mb-5 text-rainbow-animation text-center">Frequently asked Questions</h1>
      <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-8">
            <div>
               <div class="faq-container">
                  <div class="faq p-2" [class]="faqItem.showAnswer?'open':''" *ngFor="let faqItem of faqItems">
                     <div class="faq-question" (click)="toggleAnswer(faqItem)">
                        <h4 class="heading">
                           <mat-icon *ngIf="!faqItem.showAnswer" aria-hidden="false"
                              id="SuccessIcon">add_circle</mat-icon><mat-icon *ngIf="faqItem.showAnswer"
                              aria-hidden="false" id="SuccessIcon">do_not_disturb_on</mat-icon>&nbsp;{{ faqItem.question
                           }}
                        </h4>
                     </div>
                     <div class="faq-answer" [@expandCollapse]="faqItem.showAnswer ? 'open' : 'closed'" [hidden]="!faqItem.showAnswer">
                        <p>
                           {{ faqItem.answer }}
                        <p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-2"></div>
         </div>
      </div>

   </div>