@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
h1 {
    color: #ef3789!important;
    font-size: 44px!important;
    font-weight: 700!important;
    font-family: 'Amaranth', sans-serif!important;
}

.mainp {
    color: #222222;
    text-decoration: underline;
    margin-top: 6px;
    font-weight: 600!important;
}

@media (min-width: 576px) {
    .img {
        max-width: 150px;
    }
}

@media (min-width: 768px) {
    .img {
        max-width: 50px;
    }
}

@media (min-width: 992px) {
    .img {
        max-width: 80px;
    }
}

@media (max-width: 1200px) {
    .img {
        max-width: 100px;
    }
}

.content-image {
    width: 105px;
    height: 100px;
}