<div class="container">
    <div class="col-md-12 text-center">
        <h1 class="mt-5">Sponsers And Partners</h1>
        <p class="mainp">About Our Sponsors And Partners</p>
    </div>
    <div class="row text-center pt-5 justify-content-center">
        <div class="col-md-4 text-center">
            <img src="../../../../assets/sponsors/aster.PNG" alt="astersponsor1" width="200px" height="100px">
            <p class="sponserp">Title Sponsor</p>
        </div>
        <div class="col-md-2">
            <img class="float-end" src="../../../../assets/sponsors/GulfInvestments.jpg" alt="GulfInvestmentsSponsor" width="150px" height="100px">
        </div>
        <div class="col-md-2 text-center">
            <img class="mx-1" src="../../../../assets/sponsors/BlackTulip.jpg" alt="BlackTulipSponsor" width="150px" height="100px">
            <p class="sponserp">Powered By </p>
        </div>
        <div class="col-md-2">
            <img class="float-start" src="../../../../assets/sponsors/GlowWormsLogo.png" alt="GlowWormsSponsor" width="150px" height="100px">
        </div>
    </div>
    <div class="row text-center pt-2 justify-content-center">
        <div class="col-md-3 text-center">
            <img class="content-image mr-2" src="../../../../assets/sponsors/Wego.png " alt="hospitalitypartner">
            <p class="sponserp"> Hospitality Partner</p>
        </div>
        <div class="col-md-2">
            <img class="content-image" src="../../../../assets/sponsors/theQuillHouse.png " alt="thequillhousepartner5">
            <p class="sponserp">Publishing Partner</p>
        </div>
        <div class="col-md-3">
            <img class=" align-left" src="../../../../assets/sponsors/TEPA.png" alt="tepapartner1" width="150px" height="100px">
            <img class="align-right" src="../../../../assets/sponsors/nextgen.png" alt="nextgenpartner1" width="150px" height="100px">
            <p class="sponserp">Supporting Partner</p>
        </div>
        <div class="col-md-2">
            <img class="content-image" src="../../../../assets/sponsors/write-right.png" alt="writerightpartner4">
            <p class="sponserp"> Content Partner</p>
        </div>
    </div>
</div>